<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Author</th>
      <th>Sender Name</th>
      <th>Receiver</th>
      <th>Chat Name</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody id="messages">
  </tbody>
</table>

